<section class="hero">
  <div class="container wrapper">
    <div class="header-goes-here"></div>
    <h1 class="hero-title">
      Hello.<br />I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="contact-list">
      <li class="contact-item">
        <a
          class="contact-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          >IG</a
        >
      </li>
      <li class="contact-item">
        <a
          class="contact-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          >YT</a
        >
      </li>
      <li class="contact-item">
        <a
          class="contact-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          >FB</a
        >
      </li>
      <li class="contact-item">
        <a
          class="contact-link"
          href="https://github.com/deiadaimon/jefferson"
          target="_blank"
          rel="noopener noreferrer"
          >GH</a
        >
      </li>
      <li class="contact-item mail">
        <a class="contact-link" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
